@model IEnumerable<eBanking.Models.AssignDistributorRateplan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container" id="AssignDistributorRateplan">
        <h3 class="text-center page-header">Distributor Rateplan</h3>
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <div class="bordered-container">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RateplanId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DistributorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedOn)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RateplanId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistributorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedOn)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                    </tr>
                }

            </table>
        </div>
    </div>
</body>
</html>
