@model eBanking.Models.Transaction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceId)
                @Html.ValidationMessageFor(model => model.ServiceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromCurrencyId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromCurrencyId)
                @Html.ValidationMessageFor(model => model.FromCurrencyId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PinId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PinId)
                @Html.ValidationMessageFor(model => model.PinId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsertedAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsertedAmount)
                @Html.ValidationMessageFor(model => model.InsertedAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountIN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountIN)
                @Html.ValidationMessageFor(model => model.AmountIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountOut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountOut)
                @Html.ValidationMessageFor(model => model.AmountOut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConversationRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConversationRate)
                @Html.ValidationMessageFor(model => model.ConversationRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RatePlanId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RatePlanId)
                @Html.ValidationMessageFor(model => model.RatePlanId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionDate)
                @Html.ValidationMessageFor(model => model.TransactionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToPhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToPhoneNo)
                @Html.ValidationMessageFor(model => model.ToPhoneNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
