@model eBanking.Models.Vendor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center page-header">Vendor</h3>


    <div class="container">
        <div class="bordered-container">
            <span class=" border-title">
                Details
            </span>
            <div class="bordered-container-inner">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LocalCurrencyId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LocalCurrencyId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CurrentBalance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CurrentBalance)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-xs" }) 
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-xs" })
            </p>
            </div>
        </div>

