@model eBanking.Models.VendorTransaction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>VendorTransaction</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionId)
                @Html.ValidationMessageFor(model => model.TransactionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceId)
                @Html.ValidationMessageFor(model => model.ServiceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VendorId)
                @Html.ValidationMessageFor(model => model.VendorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendorTarrifId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VendorTarrifId)
                @Html.ValidationMessageFor(model => model.VendorTarrifId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountInLocal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountInLocal)
                @Html.ValidationMessageFor(model => model.AmountInLocal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountOutLocal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountOutLocal)
                @Html.ValidationMessageFor(model => model.AmountOutLocal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsedCurrencyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsedCurrencyId)
                @Html.ValidationMessageFor(model => model.UsedCurrencyId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConversionRateUSD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConversionRateUSD)
                @Html.ValidationMessageFor(model => model.ConversionRateUSD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountInUSD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountInUSD)
                @Html.ValidationMessageFor(model => model.AmountInUSD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountOutUSD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountOutUSD)
                @Html.ValidationMessageFor(model => model.AmountOutUSD)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
