@using PagedList.Mvc;
@*@model IEnumerable<eBanking.Models.SMSTransactionReport>*@
@model PagedList.IPagedList<eBanking.Models.SMSTransactionReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = (Model.PageNumber - 1) * Model.PageSize;
}


<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<style>
    tr td, tr th {
        padding: 4px !important;
    }
     .table {
        margin-bottom: 0 !important;
    }
</style>



<div class="container" id="ManageTransferPage">
    <h3 class="text-center page-header">SMS Transaction History</h3>

    @using (Html.BeginForm("Index", "SMSTransactionReports", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="bordered-container">
            <span class=" border-title">
                Search
            </span>
            <div class="bordered-container-inner">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="FromDate" class="control-label col-md-1 no-padding-right">From Date</label>
                        <div class="col-md-2">
                            @Html.TextBox("FromDate", "", new { @class = "form-control pickDate", value = ViewBag.FromDate })
                        </div>
                        <label for="ToDate" class="control-label col-md-1 no-padding-right">To Date</label>
                        <div class="col-md-2">
                            @Html.TextBox("ToDate", "", new { @class = "form-control pickDate", value = ViewBag.ToDate })
                        </div>
                        <label for="f1" class="control-label col-md-1 no-padding-right">User</label>
                        <div class="col-md-2">
                            @Html.TextBox("UserName", "", new { @class = "form-control", value = ViewBag.User })
                        </div>
                        <label for="f1" class="control-label col-md-1 no-padding-right">Pin</label>
                        <div class="col-md-2">
                            @Html.TextBox("PinNumber", "", new { @class = "form-control", value = ViewBag.Recipient })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-offset-2 col-md-2 no-padding-right"> Items Per Page</label>
                        <div class="col-md-2">
                            @Html.DropDownList("itemsPerPage", ViewData["ItemsPerPageSelector"] as SelectList, new { @class = "form-control" })
                        </div>
                        @*<label class="control-label col-md-2 no-padding-right"> &nbsp;</label>*@

                        <div class="col-md-offset-1 col-md-2">
                            <input type="submit" class="btn btn-primary" name="Search" id="Search" value="Search" />
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    }


    <div class="bordered-container">
        <table class="table small-font">
            <tr>
                <th>
                   User Name
                </th>
                <th>
                   Request Message
                </th>
                <th>
                   Request Time
                </th>
                <th>
                   Response Message
                </th>
                <th>
                   Response Time
                </th>
                <th>
                   Operation Number
                </th>
                <th>
                   Status
                </th>
                @*<th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReqMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReqTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                  
                </tr>
            }

        </table>
        <table class="table center-table borderless">
            <tr>
                <th class="text-center" style="width:80%;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    <br />
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, FromDate = ViewBag.FromDate, ToDate = ViewBag.ToDate, User = ViewBag.User, Recipient = ViewBag.Recipient }))
                </th>
               
            </tr>
        </table>
    </div>
</div>

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style>
        .states {
            color: #00ff21;
            background-color: #808080;
        }
    </style>
    <script>
        $('option').each(function () {
            var name = $(this).attr("value");
            if (name == "-1") {
                $(this).attr("disabled", "true");
                $(this).addClass("states");
            }
        });
    </script>

    <style>
        .Service {
            color: #00ff21;
            background-color: #808080;
        }
    </style>
    <script>
        $('option').each(function () {
            var name = $(this).attr("value");
            if (name == "-1") {
                $(this).attr("disabled", "true");
                $(this).addClass("states");
            }
        });
    </script>


    <script>
        $(document).ready(function () {
            $("#wrapper").addClass("toggled");

           

        });


        /* activate to enable the datepicker pop up*/

        $(" .pickDate").datepicker({dateFormat: 'dd-M-yy'});


        /* activate to enable text input expantion*/
        $('.remarks').focus(function () {
            $(this).css({ right: "0px", height: 300, width: 200, position: "absolute", "z-index": 2000 });
        });
        $('.remarks').focusout(function () {
            $(this).css({ position: "relative", height: "34px", width: "100%", "z-index": 1000, overflow: "hidden" });
        });
    </script>
    @{
        if (ViewBag.QueryStatus != null)
        {
            <script>
                $(document).ready(function () {
                    $("#Status").val(@ViewBag.QueryStatus);
                })
            </script>
        }
    }
