@model IEnumerable<eBanking.Models.CurrencyViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

@*<hr class="page-header-seperator" />*@
<div class="container">
    <h3 class="text-center page-header">Currency</h3>
    <div class="bordered-container">
        <span class=" border-title">
            Available Currencies
        </span>
        <div class="bordered-container-inner">
            <table class="table table-striped no-margin">
                <tr>
                    <th>
                        Sr No.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DestinationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISO)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Sign)
                    </th>
                    <th>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs  btn-success btn-create" })</th>
                </tr>

                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DestinationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISO)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Sign)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) 
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) 
                            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    
</div>